<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOLEJ PROFESIONAL MARA BERANANG</title>
    <style>
        body {
            background-color: aqua;
        }
        h1 {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>KOLEJ PROFESIONAL MARA BERANANG</h1>
    <h2>Welcome</h2>
    <ul>
        <li>COURSE</li>
        <ul>
            <li><a href="course">Course</a></li>
            <li><a href="search_course">Search Course</a></li>
        </ul>
        <br><br>
        <li>STUDENTS</li>
        <ul>
            <li><a href="new_student">New Student</a></li>
            <li>View Student</li>
            <ul>
                <li><a href="searchby_student">By Student</a></li>
                <li><a href="searchby_course">By Course</a></li>
                <li>All</li>
            </ul>
        </ul>
    </ul>
    
</body>
</html>