<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO KPM BERANANG</h1>
    <strong>SEARCH COURSE</strong>
    <br><br>
    <form action="search_course" method="get"><!--kalo tekan serch button, dia akn get-->
        Enter Course : <input type="text" name="c_code">
        <input type="submit" value="SEARCH">
    </form>
    <p>
        {% for value in data %}
            code : {{value.code}} <br><br> <!--CODE N DESCRIPTION IKUT NAMA TABLE DEKAT DATABASE-->
            description : {{value.description}} <br><br>
        {% endfor %}
    </p>

    <br><br>
    <a href="{% url 'index' %}">HOME</a> <!--guna link ni utk pegi dekat main page-->
</body>
</html>